<style>
    .roll {
        display: inline-block;
        font-size: 2rem;
        font-family: 'Open sans', sans-serif;
        color: #454545;
        position: relative;
    }
    .roll ul {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 4rem;
        overflow: hidden;
        vertical-align: middle;
        max-width: 16em;
    }
    .roll ul::before {
        content: "[";
        color: #455A64;
        font-size: 4rem;
        position: absolute;
        top: -0.3em;

        animation: wave-left 2s linear infinite;
    }
    .roll ul::after {
        content: "]";
        color: #455A64;
        font-size: 4rem;
        position: absolute;
        top: -0.3em;
        margin: 0;

        animation: wave-right 2s linear infinite;
    }
    .roll ul li {
        height: 64px;
        padding: 0 1em;
        display: inline-block;
        line-height: 1;
        vertical-align: inherit;
        position: relative;
        font-size: 2rem;
    }

    .roll ul li {
        transform: translateZ(0);
        transform: translate3d(0,0,0);
        perspective: 1000;
        backface-visibility: hidden;

        animation: roll 8s linear infinite;
    }

    .roll ul li span {
        display: table-cell;
        height: 4rem;
        vertical-align: middle;
        position: relative;
        top: -3px;
    }

    @keyframes roll {
        0% { transform: translateY(0); }
        20% { transform: translateY(0); }
        25% { transform: translateY(-4rem); }
        45% { transform: translateY(-4rem); }
        50% { transform: translateY(-8rem); }
        70% { transform: translateY(-8rem); }
        75% { transform: translateY(-12rem); }
        95% { transform: translateY(-12rem); }
        100% { transform: translateY(-16rem); }
    }

    @keyframes wave-left {
        0% { transform: translateX(0); }
        45% { transform: translateX(0); }
        50% { transform: translateX(-8px); }
        95% { transform: translateX(-8px); }
        100% { transform: translateX(0); }
    }

    @keyframes wave-right {
        0% { transform: translateX(0); }
        45% { transform: translateX(0); }
        50% { transform: translateX(8px); }
        95% { transform: translateX(8px); }
        100% { transform: translateX(0); }
    }
</style>

<div class="viewContainer" bg-image="images/eight_horns.png" bg-repeat="repeat" bg-size="initial">
    <author></author>

    <div style="padding: 1em;background-color: rgba(255,255,255,0.7);">
        <div style="display: flex; flex-direction: row;justify-content: space-between;align-items: stretch;">
            <div style="max-width: 14em;background-color: white;padding: 0.2em;border: 1px black solid;">
                <img src="images/lwiesel.jpg" alt="" style="width: 100%;display: block;">
            </div>
            <div style="padding: 0 1em;display: flex;flex-direction: column;justify-content: space-between;">
                <div class="roll">
                    Hello ! Je suis
                    <ul>
                        <li><span>Développeur Full-Stack</span></li>
                        <li><span>Chef de projet technique</span></li>
                        <li><span>DevOps convaincu</span></li>
                        <li><span>Taïkonaute du frontend</span></li>
                        <li><span>Développeur Full-Stack</span></li>
                    </ul>
                </div>
                <p style="font-size: 1.5em;">Je travaille chez <strong class="accent-1">AR Développement</strong>, filiale de <strong class="accent-1">CoSpirit</strong></p>
                <p style="font-size: 1.2em;">
                    Nous construisons une application e-commerce BtoB<br>
                    basée sur <strong class="accent-2">Symfony 2</strong>, en <strong class="accent-2">Microservices</strong> + <strong class="accent-2">CQRS</strong> + <strong class="accent-2">DDD</strong>
                </p>
            </div>
        </div>
    </div>
</div>
