<div class="viewContainer" bg-image="images/eight_horns.png" bg-repeat="repeat" bg-size="initial">
    <h1 class="pimp-it" style="position: relative;left: -0.3em;top: -0.2em;">
        <span style="position: relative;left: -0.5em;font-size: 1.1em;">Pimp</span><br>
        <span style="position: relative;left: 0.3em;">
            <span style="font-size: 0.7em; position: relative;bottom: 0.6em;left: 1em;">My</span>
            <span style="position: relative;left: 0.3em;"> Front</span>
        </span>
    </h1>

    <div style="position: absolute;bottom: 1em;right: 1em;padding: 1em 0 1em 1em;">
        <div style="height: 6em;float: right;margin-left: 1em;background-color: white;padding: 0.2em;border: 1px black solid;">
            <img src="images/lwiesel.jpg" alt="" style="height: 100%;">
        </div>
        <div style="text-align: right;float: right;padding: 0.5em 1em;font-size: 1.2em;">
            by <strong>Laurent WIESEL</strong><br><br>
            <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: baseline;">
                <i class="fa fa-twitter" style="color: #00aced;"></i>
                <div style="text-align: right">
                    <a href="https://twitter.com/LWiesel" style="font-weight: bold">@LWiesel</a><br>
                </div>
            </div>
            <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: baseline;">
                <i class="fa fa-linkedin" style="color: #007bb5"></i>
                <div style="text-align: right">
                    <a href="https://fr.linkedin.com/in/lwiesel" style="font-weight: bold">lwiesel</a><br>
                </div>
            </div>
        </div>
    </div>
</div>
