<div class="viewContainer {{ linesHiddenClass() }}">
    <author></author>

    <prism langage="css" line="6,22" label="main.css">
nav {
    background-color: lightgrey;
    font-size: 1.2em;
}
nav #search form {
    float: right;
}
nav #search form input {
    color: white;
}
nav p a {
    font-style: underline;
}
nav p a:hover {
    color: black;
}
#sidemenu {
    background-color: none;
}
#sidemenu a {
    color: cyan;
}
#sidemenu p + p {
    margin-top: 2em;
}
    </prism>
</div>
