<div class="viewContainer {{ linesHiddenClass() }}">
    <author></author>

    <h1 style="text-align: center;">// Todo: refactor this mess</h1>
    <h1 class="partial" style="text-align: center;">// Todo2: take over the world</h1>
</div>
