<div class="viewContainer {{ linesHiddenClass() }}">
    <author></author>

    <div style="display: flex;flex-direction: row;align-items: stretch;max-width: 100%;">
        <prism langage="css" line="1,6,10,14,18" label="navbar.css">
.navbar {
    background-color: lightgrey;
    font-size: 1.2em;
}

.nav-search {
    float: right;
}

.nav-search input {
    color: white;
}

.navbar p a {
    font-style: underline;
}

.navbar p a:hover {
    color: black;
}
        </prism>
        <div style="display: flex;flex-direction: column;justify-content: space-between;">
            <prism langage="css" label="main.css">
...
@import url(‘navbar.css’);
@import url(‘sidemenu.css’);
...
            </prism>
            <prism langage="css" label="sidemenu.css" line="1,5,9">
.sidemenu {
    background-color: none;
}

.sidemenu a {
    color: cyan;
}

.sidemenu p + p {
    margin-top: 2em;
}
            </prism>
        </div>
    </div>
</div>
