<div class="viewContainer title-slide">
    <author></author>

    <div style="display: flex; flex-direction: row;justify-content: center;align-items: center;width: 70%;">
        <div style="width: 14em;height: 14em;background-color: white;padding: 0.2em;border: 1px black solid;margin: 1em;">
            <div bg-image="images/ET.jpg" style="width: 100%;height: 100%;display: block;background-size: cover;background-position: center;"></div>
        </div>
        <h1 style="margin: 1em;">1. le OOCSS</h1>
    </div>
</div>
