<div class="viewContainer title-slide">
    <author></author>

    <div style="width: 60%;">
        <blockquote style="font-family: Colibri" cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations">
            &ldquo;Le principe du CSS Orienté Objet est de séparer le contenu des contenants et de considérer les blocs de contenus comme des objets réutilisables auxquels nous appliquons un habillage graphique.&rdquo;
            <cite>Nicole Sullivan <a href="https://github.com/stubbornella/oocss/wiki">https://github.com/stubbornella/oocss/wiki</a></cite>
        </blockquote>
    </div>
</div>
