<div class="viewContainer title-slide">
    <author></author>

    <div style="width: 60%;">
        <blockquote style="font-family: Colibri" cite="http://www.blendwebmix.com/programme/pimp-my-frontend.html">
            &ldquo;Les préprocesseurs CSS permettent d'écrire du style dans un langage riche et concis, compilant en CSS.&rdquo;<br>
            <span class="partial">#variables</span>
            <span class="partial">#partials</span>
            <span class="partial">#auto-citation</span>
            <cite>Laurent Wiesel <a href="http://www.blendwebmix.com/programme/pimp-my-frontend.html">BlendWebMix 2015 - Lyon</a></cite>
        </blockquote>
    </div>
</div>
