<div class="viewContainer {{ linesHiddenClass() }}">
    <author></author>

    <div style="display: flex;flex-direction: row;align-items: flex-start;max-width: 100%;">
        <prism langage="css" line="1,7,16,20" label="_navbar.scss">
$navbar-bg-color:         $theme-color-1;
$navbar-font-size:        1.2em;
$navbar-search-bg-color:  invert($font-base-color)
$navbar-link-color-hover: black;

.navbar {
    background-color: $navbar-bg-color;
    font-size:        $navbar-font-size;
}

.nav-search {
    float: right;
}

.nav-search input {
    color: $navbar-search-bg-color;
}

.navbar p a {
    font-style: underline;
}

.navbar p a:hover {
    color: black;
}
        </prism>
        <div>
            <prism langage="css" label="_sidemenu.scss" line="1,5,9">
$sidemenu-bg-color:     none;
$sidemenu-link-color:   $theme-color-2;

.sidemenu {
background-color: $sidemenu-bg-color;
}

.sidemenu a {
color: $sidemenu-link-color;
}

.sidemenu p + p {
margin-top: 2em;
}
            </prism>
            <div style="display: flex;flex-direction: row;max-width: 100%;">
                <prism langage="css" label="main.scss">
...
@import settings;

@import navbar;
@import sidemenu;
...
                </prism>
                <prism langage="css" label="_settings.scss">
...
$theme-color-1:     lightgray;
$theme-color-2:     cyan;

$font-base-color:   black;
...
                </prism>
            </div>
        </div>
    </div>
</div>
