<div class="viewContainer {{ linesHiddenClass() }}">
    <author></author>

    <div style="display: flex;flex-direction: row;align-items: flex-start;max-width: 100%;">
        <prism langage="css" line="7,16,20,24,25" label="_navbar.scss">
$navbar-bg-color:                 $theme-color-1;
$navbar-font-size:                1.2em;
$navbar-search-bg-color:          invert($font-base-color)
$navbar-search-bg-active-color:   invert($font-base-color)
$navbar-link-color-hover:         black;

.navbar {
    background-color: $navbar-bg-color;
    font-size:        $navbar-font-size;
}

.navbar__search {
    float: right;
}

.navbar__searchInput {
    color: $navbar-search-bg-color;
}

.navbar__link {
    font-style: underline;
}

.navbar__link--active,
.navbar__link:hover {
    color: black;
}
        </prism>
        <div style="flex-shrink: 1;">
            <prism langage="css" label="_sidemenu.scss" line="8,12">
$sidemenu-bg-color:     none;
$sidemenu-link-color:   $theme-color-2;

.sidemenu {
background-color: $sidemenu-bg-color;
}

.sidemenu__link {
color: $sidemenu-link-color;
}

.sidemenu__item + .sidemenu__item {
margin-top: 2em;
}
            </prism>
            <div style="display: flex;flex-direction: row;">
                <prism langage="css" label="main.scss">
...
@import settings;

@import navbar;
@import sidemenu;
...
                </prism>
                <prism langage="css" label="_settings.scss">
...
$theme-color-1:     lightgray;
$theme-color-2:     cyan;

$font-base-color:   black;
...
                </prism>
            </div>
        </div>

    </div>
</div>
