<div class="viewContainer title-slide">
    <author></author>

    <div style="width: 60%;">
        <blockquote style="font-family: Colibri">
            &ldquo;There are only two hard things in Computer Science: cache invalidation and naming things.&rdquo;<br>
            <cite>Martin Fowler</cite>
        </blockquote>
    </div>
</div>
