<style>
    td {
        padding: 0 1em;
    }
</style>

<div class="viewContainer" style="display: flex;flex-direction: row;align-items: center;">
    <author></author>

    <table style="list-style: none; margin: 0;font-size: 2em;color: white;">
        <tr>
            <td>BEM</td>
            <td><a href="https://en.bem.info">https://en.bem.info</a></td>
        </tr>
        <tr>
            <td>SMACSS</td>
            <td><a href="https://smacss.com">https://smacss.com</a></td>
        </tr>
        <tr>
            <td>RSCSS</td>
            <td><a href="https://github.com/rstacruz/rscss">https://github.com/rstacruz/rscss</a></td>
        </tr>
    </table>
</div>
