<div class="viewContainer">
    <author></author>

    <h1>La nomenclature BEM</h1>

    <div style="display: flex;flex-direction: row;justify-content: space-around;max-width: 60%;width: 100%;align-items: center;background-color: #8da5b1;padding: 1rem;">
        <div>
            <strong class="accent-1" style="font-size: 2em;">Block</strong>
        </div>
        <div>
            <strong style="font-size: 2em;">_ _</strong>
        </div>
        <div>
            <strong class="accent-2" style="font-size: 2em;">Element</strong>
        </div>
        <div>
            <strong style="font-size: 2em;">- -</strong>
        </div>
        <div>
            <strong class="accent-3" style="font-size: 2em;">Modifier</strong>
        </div>
    </div>

    <div class="partial" style="max-width: 60%;width: 100%;align-items: center;background-color: #8da5b1;padding: 1rem;margin-top: 1em;font-size: 2em;text-align: center;">
        .<span class="accent-1">menu</span>
    </div>
    <div class="partial" style="max-width: 60%;width: 100%;align-items: center;background-color: #8da5b1;padding: 1rem;margin-top: 1em;font-size: 2em;text-align: center;">
        .<span class="accent-1">menu</span>_ _<span class="accent-2">item</span>
    </div>
    <div class="partial" style="max-width: 60%;width: 100%;align-items: center;background-color: #8da5b1;padding: 1rem;margin-top: 1em;font-size: 2em;text-align: center;">
        .<span class="accent-1">menu</span>_ _<span class="accent-2">item</span>- -<span class="accent-3">active</span>
    </div>
</div>
