<div class="viewContainer title-slide">
    <author></author>

    <div style="width: 60%;">
        <blockquote style="font-family: Colibri">
            &ldquo;We’re not designing pages,<br>&nbsp;&nbsp;we’re designing systems of components.&rdquo;<br>
            <cite>Stephen Hay on <a href="http://bradfrost.com/blog/post/atomic-web-design">Brad Frost website</a></cite>
        </blockquote>
    </div>
</div>
