<div class="viewContainer {{ linesHiddenClass() }}">
    <author></author>

    <prism langage="markup" label="schéma light">
main.scss

_global_setting.scss
_global_mixins.scss

quarks/
    ┣ _buttons.scss
    ┣ _typography.scss
    ┗ _h_titles.scss

components/
    ┣ _footer.scss
    ┣ _navbar.scss
    ┣ _search.scss
    ┣ _sidemenu.scss
    ┗ _tabs.scss
    </prism>
</div>
