<div class="viewContainer {{ linesHiddenClass() }}">
    <author></author>

    <prism langage="markup" label="schéma META complet">
main.scss
_global_setting.scss
_global_mixins.scss

atoms/
    ┣ _buttons.scss
    ┣ _typography.scss
    ┗ _h_titles.scss

molecules/
    ┣ search/
    ┃   ┣ _search.scss
    ┃   ┣ search.html
    ┃   ┗ search.js
    ┗ tabs/
        ┣ _tabs.scss
        ┣ tabs.html
        ┗ tabs.js

organisms/
    ┣ navbar/
    ┃   ┣ _navbar.scss
    ┃   ┣ navbar.html
    ┃   ┗ navbar.js
    ┣ sidemenu/
    ┃   ┣ _sidemenu.scss
    ┃   ┗ sidemenu.html
    ┗ footer/
    </prism>
</div>
