<div class="viewContainer {{ linesHiddenClass() }}">
    <author></author>

    <prism langage="markup" label="schéma complet">
main.scss

_global_setting.scss
_global_mixins.scss

quarks/
    ┣ _buttons.scss
    ┣ _typography.scss
    ┗ _h_titles.scss

atomes/
    ┣ _search.scss
    ┗ _tabs.scss

molecules/
    ┣ _navbar.scss
    ┣ _sidemenu.scss
    ┗ _footer.scss
    </prism>
</div>
