<div class="viewContainer {{ linesHiddenClass() }}">
    <author></author>

    <p style="color: white;font-size: 3em;">
        <span class="partial" style="font-size: 1.8em;">Mais</span><br>
        <span class="partial" style="font-size: 2em;font-weight: bold;">l'Atomic Design</span><br>
        <span class="partial" style="font-size: 1em;">n'est pas que</span><br>
        <span class="partial" style="font-size: 3em;line-height: 1;font-style: italic;">pour le CSS !</span>
    </p>
</div>
