<style>
    td {
        padding: 0 1em;
    }
</style>

<div class="viewContainer">
    <author></author>

    <h1>L'atomic design en 3 niveaux</h1>

    <ol style="display: flex;flex-direction: column;justify-content: space-between;align-items: flex-start; margin: 0;font-size: 2em;color: white;">
        <li class="partial" style="margin: 1em 0;">
            <strong>QUARKS</strong><br>
            Elements HTML purs
        </li>
        <li class="partial" style="margin: 1em 0;">
            <strong>ATOMES</strong><br>
            Composants &lsquo;stand-alone&rsquo;
        </li>
        <li class="partial" style="margin: 1em 0;">
            <strong>MOLECULES</strong><br>
            Composants utilisants d'autres composants
        </li>
    </ol>
</div>
