<style>
    td {
        padding: 0 1em;
    }
</style>

<div class="viewContainer" style="display: flex;flex-direction: row;align-items: center;">
    <author></author>

    <table style="list-style: none; margin: 0;font-size: 2em;color: white;">
        <tr>
            <td>POLYMER</td>
            <td><a href="https://www.polymer-project.org">https://www.polymer-project.org</a></td>
        </tr>
        <tr>
            <td>ANGULAR</td>
            <td><a href="https://angularjs.org">https://angularjs.org</a></td>
        </tr>
        <tr>
            <td>WEBCOMPONENTS.ORG</td>
            <td><a href="http://webcomponents.org">http://webcomponents.org</a></td>
        </tr>
    </table>
</div>
