<style>
    td {
        padding: 0 1em;
    }
</style>

<div class="viewContainer">
    <author></author>

    <h1>Webcomponents ?</h1>

    <ol style="display: flex;flex-direction: column;justify-content: space-between;align-items: flex-start; margin: 0;font-size: 2em;color: white;">
        <li class="partial" style="margin: 1em 0;">
            <strong>TEMPLATES</strong><br>
        </li>
        <li class="partial" style="margin: 1em 0;">
            <strong>DECORATORS</strong><br>
        </li>
        <li class="partial" style="margin: 1em 0;">
            <strong>CUSTOM ELEMENTS</strong><br>
        </li>
        <li class="partial" style="margin: 1em 0;">
            <strong>SHADOW DOM</strong><br>
        </li>
        <li class="partial" style="margin: 1em 0;">
            <strong>IMPORTS</strong><br>
        </li>
    </ol>
</div>
