<div class="viewContainer {{ linesHiddenClass() }}">
    <author></author>

    <h1 style="text-align: center;">// Todo: take over the world</h1>
    <ul style="list-style: none;margin: 0;">
        <li>
            <checkbox checked="checked">Modulariser le CSS</checkbox>
        </li>
        <li>
            <checkbox checked="checked">Améliorer la réutilisabilité du CSS</checkbox>
        </li>
        <li>
            <checkbox checked="checked">Adopter une nomenclature en composants</checkbox>
        </li>
        <li>
            <checkbox checked="checked">Structurer le code par niveaux de composants</checkbox>
        </li>
        <li class="will-be-switched" id="before">
            <checkbox>Se préparer pour les webcomponents</checkbox>
        </li>
        <li class="partial" data-switch="#before">
            <checkbox checked="checked">Se préparer pour les webcomponents</checkbox>
        </li>
    </ul>
</div>
