<style>
    .pulse {
        animation: pulse 3s linear infinite 0s;
        transform: translateZ(0);
        transform: translate3d(0,0,0);
        backface-visibility: hidden;
    }

    @keyframes pulse {
        0% { transform: scale(1); }
        40% { transform: scale(1); }
        50% { transform: scale(1.5) }
        60% { transform: scale(1); }
        100% { transform: scale(1); }
    }
</style>

<div class="viewContainer" bg-image="images/questions.jpg" bg-size="cover">
    <author></author>

    <h1 style="font-size: 4em;text-transform: uppercase;padding: 1em;background-color: rgba(0,0,0,0.3);">
        Des questions <span class="pulse">?</span>
    </h1>
</div>
