<div class="viewContainer" bg-image="images/cliffhang.jpg" bg-size="cover">
    <author></author>

    <div style="padding: 1em;background-color: rgba(0,0,0,0.3);">
        <h1 style="text-transform: uppercase; font-size: 3.6em;">Hang in there!</h1>
        <h2 style="color: white;text-align: right;font-size: 1.5em;">there's more&hellip;<span class="partial" style="text-transform: uppercase;font-size: 1.3em;">after the prez !</span></h2>
    </div>
</div>
