/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0%      { transform: rotateZ(0deg); }
  20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40%     { transform: rotateZ(17deg); }
  60%     { transform: rotateZ(16deg); }
  100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to      { transform: translateX(-100%); }
}

@keyframes slideOutRight {
  to      { transform: translateX(100%); }
}

@keyframes slideOutUp {
  to      { transform: translateY(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from    { transform:translateX(100%); }
  to      { transform: translateX(0); }
}

@keyframes slideInLeft {
  from    { transform:translateX(-100%); }
  to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from    { transform:translateY(-100%); }
  to      { transform: translateY(0); }
}



//.ng-enter           { animation: scaleUp 0.5s both ease-in; z-index: 8888; }
//.ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }

/* about ------------------------ */
[data-direction="forward"] .ng-enter        { animation:slideInRight 0.5s both ease-in; }
[data-direction="forward"] .ng-leave        { animation:slideOutLeft 0.5s both ease-in; }

[data-direction="backward"] .ng-enter        { animation:slideInLeft 0.5s both ease-in; }
[data-direction="backward"] .ng-leave        { animation:slideOutRight 0.5s both ease-in; }

[data-direction="up"] .ng-enter        { animation:slideInUp 0.5s both ease-in 1s; }
[data-direction="up"] .ng-leave        { animation:slideOutUp 0.5s both ease-in; }
