.partial {
  visibility: hidden;

  &.active {
    visibility: visible;
  }
}

[data-direction="forward"] .ng-leave .partial {
  visibility: visible;
}

[data-direction="forward"] .ng-enter .partial {
  visibility: hidden;
}

[data-direction="backward"] .ng-enter .partial {
  visibility: visible;
}

[data-direction="backward"] .ng-leave .partial {
  visibility: hidden;
}

.seen .partial {
  visibility: visible !important;
}

// switch partials
.partial[data-switch]:not(.active) {
  display: none;
}

[data-direction="forward"] .ng-enter .partial[data-switch]:not(.active),
[data-direction="forward"] .ng-leave .will-be-switched
{
  display: none !important;
}

[data-direction="forward"] .ng-leave .partial[data-switch] {
  display: block !important;
}

[data-direction="backward"] .ng-leave .partial[data-switch]:not(.active),
[data-direction="backward"] .ng-enter .will-be-switched
{
  display: none;
}
