blockquote {
    font-family: Georgia, serif;
    font-size: 3rem;
    color: white;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.25em 2.5em;
    line-height: 1.45;
    position: relative;
    text-align: left;
    width: 100%;
}
blockquote:before {
    display: block;
    content: "\201C";
    font-size: 8em;
    position: absolute;
    left: -0.3em;
    top: -0.3em;
    color: $color1;
}
blockquote cite {
    color: white;
    font-size: 0.6em;
    display: block;
    margin-top: 5px;

    a {
        color: darken($color1, 10%);
    }
}

blockquote cite:before {
    content: "\2014 \2009";
}
