.betterScroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(#2f414b,0.3);
  //background-color: #F5F5F5;
}

.betterScroll::-webkit-scrollbar
{
  width: 6px;
  //background-color: #F5F5F5;
}

.betterScroll::-webkit-scrollbar-thumb
{
  background-color: #2f414b;
}
