/* --------------------------------------------------------
  BUTTON
-------------------------------------------------------- */
$button-style-list: (
        standard:   #212121,
        success:    #77D193,
        warning:    #EA5A5A,
        info:       #94B9AF,
        none:       white,
);

$button-size-list: (
        tiny:   0.8em,
        small:  0.9em,
        medium: 1em,
        large:  1.1em,
);

$color1: #455A64;
$color2: #A94F0B;
