@import "modularized-normalize-scss/normalize";

@import "mainSettings";

$fa-font-path: "../fonts";
@import "font-awesome/scss/font-awesome";

@import "navbar/navbar";
@import "button/button";
@import "slideAnimation/slideAnimation";
@import "form/form";
@import "scrollBar/scrollBar";
@import "partial/partial";
@import "pimp-it/pimp_it";
@import "blockquotes/blockquotes";
@import "prism-label/prism_label";
@import "prism-line-highlight/prism_line_highlight";
@import "checkbox/checkbox";

// *,
// *:after,
// *::before {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
// }

html, body {
  background-color: #607D8B;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

[ui-view] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.accent-1 {
    color: $color1;
}

.accent-2 {
    color: $color2;
}

h1, p, a {
  font-family: 'Open sans', sans-serif;
  color: #454545
}

h1 {
  font-size: 3em;
  color: white;
}

a {
  color: #484848;
}

p {
  font-size: 2em;
  margin: 0;
}

.title-slide {
    h1 {
        font-size: 4em;
        color: white;
        text-transform: uppercase;
    }
}

.viewContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
  padding-bottom: 40px;
  position: relative;
}

pre, pre[data-line] {
    padding-top: 2em !important;
}

pre[data-line] {
    padding: 2em 1em 1em 3em;
}

.line-highlight {
    margin-top: 2em;
}

.switched {
    display: none;
}

code {
  font-size: 1.2em;
}
