$inner-color: #FFBA1A;
$border-color: #A9500C;
$border-width: 2px;

@font-face {
  font-family: 'Dolphins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dolphins.ttf') format('truetype');
}

.pimp-it {
  font-family: Dolphins, serif;
  font-size: 10em;

  line-height: 0.9;

  text-align: center;

  animation: pulse 3s linear infinite 0s;
  transform: translateZ(0);
  transform: translate3d(0,0,0);
  perspective: 1000; backface-visibility: hidden;

  color: $inner-color;
  text-shadow:
    2 * $border-width     0                   0 $border-color,
    -2 * $border-width    0                   0 $border-color,
    0                     2 * $border-width   0 $border-color,
    0                     -2 * $border-width  0 $border-color,
    $border-width         $border-width       0 $border-color,
    -$border-width        -$border-width      0 $border-color,
    $border-width         -$border-width      0 $border-color,
    -$border-width        $border-width       0 $border-color,
    0                     1px                 0 $border-color,
    0                     2px                 0 $border-color,
    0                     3px                 0 $border-color,
    0                     4px                 0 $border-color,
    0                     5px                 0 $border-color,
    0                     6px                 0 $border-color,
    0                     7px                 0 $border-color,
    0                     8px                 0 $border-color,
    0                     9px                 0 $border-color,
    0                     10px                0 $border-color,
    0                     11px                0 $border-color,
    0                     12px                0 $border-color,
    0                     13px                0 $border-color,
    0                     14px                0 $border-color,
    0                     15px                0 $border-color,
    0                     16px                0 $border-color,
    0                     17px                0 $border-color,
    0                     18px                0 $border-color,
    0                     19px                0 $border-color,
    0                     20px                0 $border-color,
    0                     21px                0 $border-color,
    0                     22px                0 $border-color,
    0                     23px                0 $border-color,
    0                     24px                0 $border-color,
    0                     25px                0 $border-color,
    0                     26px                0 $border-color,
    0                     27px                0 $border-color,
    0                     28px                0 $border-color,
    0                     29px                0 $border-color,
    0                     30px                0 $border-color
  ;
}

@keyframes pulse {
  0% { transform: scale(1); }
  40% { transform: scale(1); }
  50% { transform: scale(1.1); }
  60% { transform: scale(1); }
  100% { transform: scale(1); }
}
