input.seamless {
  border: none;
  outline: none;
  color: inherit;
  background-color: transparent;
  width: 30px;
  text-align: right;
  padding-right: 0.4em;

  & + button {
    margin-left: 3em;
  }
}
