/**
 *  Buttons
 *
 *  Automatically generates button mixins
 *
 */

/* --------------------------------------------------------------------------------------------------------------------
  PARAMETERS
-------------------------------------------------------------------------------------------------------------------- */
$button-style-list:         () !default;
$button-size-list:          () !default;

/* --------------------------------------------------------------------------------------------------------------------
  PLACEHOLDERS
-------------------------------------------------------------------------------------------------------------------- */
%borderBox {
    box-sizing: border-box;
}

/* --------------------------------------------------------------------------------------------------------------------
  MIXINS
-------------------------------------------------------------------------------------------------------------------- */
@mixin btn($bg-color) {
    &, &:visited {
        display: inline-block;
        height: 2.5em;
        line-height: 2.5em;
        border-width: 1px;
        border-style: solid;
        border-color: darken($bg-color, 5%);
        padding: 0 1em;

        color: if(lightness($bg-color) > 80%, #4d4d4d, white);

        transition: 0.5s ease;

        border-radius: 2px;
        outline: 0;

        cursor: pointer;

        background-color: $bg-color;

        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    &:hover {
//        color: if(lightness(darken($bg-color, 10%)) > 80%, #4d4d4d, white);
//        background-color: darken($bg-color, 10%);

        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }
    &:active, &.active {
        transition: none;
        color: if(lightness(lighten($bg-color, 10%)) > 80%, #4d4d4d, white);
        background-color: if(lightness($bg-color) > 80%, darken($bg-color, 10%), lighten($bg-color, 10%));
    }

    &.disabled, &.disabled:active, &:disabled, &:disabled:active{
        border:none;
        color: #bbb;
        background-color: #eee;
    }
}

@mixin btn-size($size) {
    font-size:      $size;
    height:         $size * 2.5;
    line-height:    $size * 2.5;
    padding:        0 $size;
}

/* --------------------------------------------------------------------------------------------------------------------
  RULES
-------------------------------------------------------------------------------------------------------------------- */
@each $button-name, $button-color in $button-style-list {
    .button--#{$button-name} {
        @include btn($button-color);
        @extend %borderBox;

        font-size: inherit;
        vertical-align: bottom;
        text-decoration: none;

        cursor: pointer;
    }
}

.button--link-like {
    @include btn(transparent);

    color: inherit !important;

    &, &:visited {
        box-shadow: none;
        border: none;
    }

    &:hover {
        box-shadow: none;
    }

    &:active, &.active {
        transition: none;
        color: if(lightness(darken(white, 10%)) > 80%, #4d4d4d, white);
        background-color: darken(white, 10%);
    }
}

.button--link {
    @extend .button--link-like;

    &:active, &.active {
        transition: none;
        color: if(lightness(darken(white, 10%)) > 80%, #4d4d4d, white);
        background-color: rgba(black, 0.4);
    }

    text-decoration: none;
}

@each $size-name, $size in $button-size-list {
    .button--#{$size-name} {
        @include btn-size($size);
    }
}
