.prism-label {
    color: black;
    background-color: #DEDDDD;
    display: inline-block;
    position: absolute;
    bottom: auto;
    left: auto;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    font-size: 0.9em;
    border-radius: 0 0 0 5px;
    padding: 0.2em 0.5em 0.2em 0.7em;
    z-index: 1;
}
