$navbar-progress-height: 20px;
$navbar-details-height: 100px;

$navbar-sidemenu-width: 15em;

.navbar {
  position: fixed;
  z-index: 9000;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;

  background-color: #455A64;
  text-align: center;

  transition: all 0.5s ease;
}

.navbar__progress {
  height: $navbar-progress-height;
  background-color: #455A64;

  .inner {
    width: 0%;
    height: 100%;
    background-color: #2f414b;

    transition: all 0.5s ease;
  }
}

.navbar__details {
  height: $navbar-details-height;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar__prev, .navbar__next {
  margin: 0 2em;
}

.navbar.navbar--hidden {
  bottom: -$navbar-details-height;
}

.navbar__sidemenu {
  position: fixed;
  z-index: 8000;

  height: 100%;
  width: $navbar-sidemenu-width;

  box-sizing: border-box;
  padding-bottom: $navbar-details-height + $navbar-progress-height;

  left: 0;
  top: 0;
  bottom: 0;

  background-color: #455A64;

  overflow: hidden;

  color: #CFD8DC;

  transition: all 0.5s ease;

  a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    padding: 0.5em;
    border-bottom: 1px #2f414b solid;

    &:hover {
      background-color: #2f414b;
    }
  }

  .navbar__sidemenuInner {
    width: 100%;
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.navbar__sidemenu.navbar--sidemenu-hidden {
  left: -$navbar-sidemenu-width;
}

.navbar__sidemenuToggle {
  position: absolute;
  left: 1em;
  top: 50%;
  transform: translateY(-0.6em);
  font-size: 1.2em;
}
