<!doctype html>
<html class="no-js" lang="fr" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blend Web Mix</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/hotkeys.min.css">
    <link rel="stylesheet" href="css/prism.css">
    <link rel="stylesheet" href="css/prism-line-highlight.css">
    <link rel="stylesheet" href="css/prism-line-numbers.css">
    <link rel="stylesheet" href="css/main.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700italic,300,300italic,400italic,600,600italic,700,800italic' rel='stylesheet' type='text/css'>
</head>
<body class="grey lighten-5" ng-controller="mainController" data-direction="{{ direction }}">

<main class="page-{{ slideName() }}" data-partials-state="{{ partialsStates[slideName()] }}" ui-view></main>

<nav class="navbar" ng-class="{'navbar--hidden': isNavHidden && isNavSidemenuHidden}" ng-init="isNavHidden = true" ng-mouseenter="isNavHidden = false" ng-mouseleave="isNavHidden = true">
    <div class="navbar__progress">
        <div class="inner" style="width: {{ (position() - 1) / (slidesNumber - 1) * 100 }}%"></div>
    </div>
    <div class="navbar__details">
        <button type="button" class="navbar__sidemenuToggle button--link" ng-mouseover="isNavSidemenuHidden = false">☰</button>
        <button type="button" class="navbar__prev button--standard" ng-click="previous()">⯇</button>
        <input class="seamless" type="text" ng-model="requestedPosition" ng-blur="requestSlide(requestedPosition)"> / {{ slidesNumber }}
        <button type="button" class="navbar__next button--standard" ng-click="next()">⯈</button>
    </div>
</nav>

<nav class="navbar__sidemenu" ng-class="{'navbar--sidemenu-hidden': isNavSidemenuHidden}" ng-init="isNavSidemenuHidden = true" ng-mouseleave="isNavSidemenuHidden = true">
    <div class="navbar__sidemenuInner betterScroll">
        <a href="#" ng-repeat="slide in slides()" ng-click="requestSlideName(slide.uid)">{{ slide.title }}</a>
    </div>
</nav>

<script src="js/app/app.js"></script>
<!-- <script src="js/prismjs.js"></script> -->
</body>
</html>
